<!-- footer container begins -->
<div id="footer">
    <!-- footer .wrapper begins -->
    <div class="wrapper">
        <!-- footer .left container begins -->
        <div class="left">
            <!-- AddThis Buttons BEGIN -->
            <div id="socialmediacontainer">
                <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_8"></a>
                    <a class="addthis_button_preferred_4"></a>
                    <a class="addthis_button_preferred_11"></a>
                    <a class="addthis_button_preferred_3"></a>
                </div>
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4d96bc857bb00cc8"></script>
                <p class="pwhiteitalic">Share this website&hellip;</p>
            </div>
            <!-- AddThis Buttons END -->
        </div>
        <!-- footer .left container ends -->
        <!-- footer .right container begins -->
        <div class="right">
            <p class="footertext"><a href="{% link index.md %}">Welcome</a> &#124; <a href="{% link work.md %}">Individual &amp; Group Work</a> &#124; <a href="{% link books.md %}">Books &amp; CD&#39;s</a> &#124; <a href="{% link testimonials.md %}">Testimonials</a> &#124; <a href="{% link contact.md %}">Contact Glen</a></p>
            <p class="footertext">© Copyright 2011 Glen Park &#126; &lsquo;The Art of Changing&rsquo; </p>
        </div>
        <!-- footer .right container ends -->
    </div>
    <!-- footer .wrapper ends -->
</div>
<!-- footer container ends -->
<!-- footer2 container begins -->
<div id="footer2">
    <!-- footer2 .wrapper begins -->
    <div class="wrapper">
        <div id="toplinkcontainer"><a href="#top" class="scroll"><img src="images/topicon.png" alt="" /></a></div>
        <div class="atilogocontainer"><a href="http://www.ati-net.com" class="tooltip" target="_blank" title="Website of Alexander<br />Technique International"><img src="images/atilogo.png" alt="Alexander Technique International" /></a></div>
        <div class="gaswooshcontainer"><a href="http://www.graphicalchemy.co.uk" target="_blank"><img src="images/gaswooshicon.png" width="50" height="30" alt="Graphic Alchemy" /></a></div>
        <p class="footercredittext">Creative website and blog design by <a href="http://www.graphicalchemy.co.uk" class="tooltip" title="Graphic Alchemy website" target="_blank">Graphic Alchemy</a></p>
    </div>
    <!-- footer2 .wrapper ends -->
</div>
<!-- footer2 container ends -->