.contact {
  background-image: url(../images/bodybgimagepink.jpg);
  background-repeat: no-repeat;
  background-position: center top;


  a {
  	color: #cc3e58;
  	font-weight: bold;
  	letter-spacing: 0px;
  }
  a:hover {
  	color: #8f153e;
  	font-weight: bold;
  	letter-spacing: 0px;
  }


  a img, a:active, a:hover, a:focus, a:hover, a img.preview {
  	border: none;
  	text-decoration: none;
  	padding: 0;
  	outline:none;
  }



  img {
  border:none;
  margin: 0;
  padding: 0;
  outline: 0;
  }


  .padded {
  	font-family: Arial, Helvetica, sans-serif;
  	color: #7a7a7a;
  	font-size: 12px;
  	padding: 1px 4px;
  	display:block;
  	margin-top: 20px;
  	margin-left: -7px;
  }

  .padded a {
  	font-family: Arial, Helvetica, sans-serif;
  	color: #ffffff;
  	font-size: 12px;
  	padding: 3px 5px;
  	text-decoration: none;
  	background-color: transparent;
  	background-image: url(../images/textlinkbg.png);
  	background-repeat: repeat;
  	-moz-border-radius:4px;
  	-khtml-border-radius:4px;
  	-webkit-border-radius:4px;
  	border-radius:4px;
  }

  .padded a:hover {
  	font-family: Arial, Helvetica, sans-serif;
  	color: #ffffff;
  	padding: 3px 5px;
  	text-decoration: none;
  	background-color: transparent;
  	background-image: url(../images/textlinkbghover.png);
  	background-repeat: repeat;
  	-moz-border-radius:4px;
  	-khtml-border-radius:4px;
  	-webkit-border-radius:4px;
  	border-radius:4px;
  }


  // p {
  // 	font-size: 13px;
  // 	line-height: 130%;
  // 	font-weight: lighter;
  // }

  .predsmall {
  	font-size: 11px;
  	line-height: 120%;
  	font-weight: normal;
  	color: #830217;
  	letter-spacing:normal;
  	display: block;
  	padding-top: 20px;
  	padding-left: 60px;
  }




  .pemailitalic {
  	font-family:Georgia, "Times New Roman", Times, serif;
  	font-style: italic;
  	font-size: 18px;
  	font-weight: bold;
  	color: #7a7a7a;
  	letter-spacing:normal;
  	display: block;
  	padding-top: 5px;
  }

  .pemailitalic a {
  	font-family:Georgia, "Times New Roman", Times, serif;
  	font-style: italic;
  	font-size: 18px;
  	font-weight: bold;
  	color: #cc3e58;
  	letter-spacing:normal;
  }

  .pemailitalic a:hover {
  	font-family:Georgia, "Times New Roman", Times, serif;
  	font-style: italic;
  	font-size: 18px;
  	font-weight: bold;
  	color: #8f153e;
  	letter-spacing:normal;
  }

  .runinheading {
  	color: #cc3e58;
  	text-transform: lowercase;
  	font-weight: bold;
  	font-family: Georgia, "Times New Roman", Times, serif;
  	font-style: italic;
  	margin: 0;
  	padding: 0;
  	font-size: 2.2em;
  }




  #submenustrip {
  	margin: 0px auto 20px auto;
  	padding: 0 20px 0 0;
  	position: relative;
  	width: 940px;
  	height: 40px;
  	background-color: #cc3e58;
  	text-align: right;
  	top: -20px;
  	-moz-border-radius-bottomright: 5px;
  	-moz-border-radius-bottomleft: 5px;
  	-webkit-border-bottom-right-radius: 5px;
  	-webkit-border-bottom-left-radius: 4px;
  	border-radius-bottomright: 5px;
  	border-radius-bottomleft: 5px;
  	-khtml-border-radius-bottomright: 5px;
  	-khtml-border-radius-bottomleft: 5px;
  	}




  h1 {
  	color: #cc3e58;
  	text-transform: lowercase;
  	font-weight: bold;
  	font-family: Georgia, "Times New Roman", Times, serif;
  	font-style: italic;
  	margin: 0;
  	padding: 0;
  }

  h1 a, .anchor-title { color: #cc3e58 !important; }
  h1 a:hover, .anchor-title:hover { color: #8f153e !important; }

  #header-border {
  	background: #000000 url(../images/pink/header-border.gif) repeat top left;
  }


  #logopink {
  	margin: 0;
  	position: relative;
  	left: -20px;
  	bottom: 60px;
  }





  #menu li span.hover {
  background: #8f153e;
  }

  #menu li ul li {
  background: #8f153e;
  }

  #menu li ul li span {
  	display: none;
  	background: #cc3e58;
  	}





  .blockquoteblue {
  	color: #cc3e58 !important;
  	display: block;
  	padding: 10px 30px 10px 15px;
  	border-left: 5px solid #cc3e58;
  	margin: 30px 30px 30px 30px;
  	font-style: italic;
  	font-family: Georgia, "Times New Roman", Times, serif;
  	font-size: 20px;
  	line-height: 130%;
  }

  #socialmediacontainer {
  	height: 70px;
  	width: 250px;
  	padding-top: 10px;
  	background-image: url(../images/socialmediacontainerbg.png);
  	background-repeat: repeat-y;
  	background-position: left top;
  	padding-left: 10px;
  	-moz-border-radius:5px;
  	-khtml-border-radius:5px;
  	-webkit-border-radius:5px;
  	border-radius:5px;
  }


  .footertext {
  	font-size: 12px;
  	font-weight: normal;
  	letter-spacing:normal;
  	font-family: Arial, Helvetica, sans-serif;
  	color: #7a7a7a;
  }
  .footertext a {
  	font-size: 12px;
  	font-weight: normal;
  	letter-spacing:normal;
  	font-family: Arial, Helvetica, sans-serif;
  	color: #cc3e58;
  	font-weight: bold;
  }
  .footertext a:hover {
  	font-size: 12px;
  	font-weight: normal;
  	letter-spacing:normal;
  	font-family: Arial, Helvetica, sans-serif;
  	color: #8f153e;
  	font-weight: bold;
  }

  #footer2 {
  	height: 60px !important;
  	padding: 0px;
  	width: 100%;
  	float: left;
  	background-color: #000000;
  	border-top-width: 3px;
  	border-top-style: solid;
  	border-top-color: #cc3e58;
  }








  .emaillinkbox {
  	display: block;
  	width: 280px;
  	height: 128px;
  	float: left;
  	background-image: url(../images/emailenvelope.png);
  	background-repeat: no-repeat;
  	background-position: left top;
  	padding: 0px 0px 0px 120px;
  	margin-top: 15px;
  }
}
