---
layout: default
---

<!-- .content-block 1 begins -->
<div class="content-block">
    <p class="runinheading">Books &amp; CD&#39;s&hellip;</p>
    <a name="theartofchanging" id="theartofchanging"></a>
    <p>&nbsp;</p>
    <div class="clear"></div>
    <img src="images/aocbookmodel.png" alt="The Art of Changing by Glen Park" width="332" height="461" border="0" align="right" />
    <p><span class="boldsubtitle">The Art of Changing</span> <span class="italicsubtitle">by Glen Park</span></p>
    <h6>Ashgrove Publishing 1989&frasl;2000 &nbsp; &nbsp; ISBN 1-85398-130-3</h6>
    <p><span class="pitalic">The Art of Changing</span> has established a fine reputation twice over as one of the very best introductions to the <a href="popups/aboutalexander.html?lightbox[iframe]=true&amp;lightbox[width]=600&amp;lightbox[height]=580" class="lightbox">Alexander Technique</a> and as a unique exploration into applying the principles of the Alexander Technique to psychological and energetic patterns of behaviour.</p>
    <div class="blockquotelime">An admirable and important book, the implications
        <br />are profound <span class="quotecreditinline"> &#126; Sir George Trevelyan</span></div>
    <p>Part One of the book is an excellent introduction to the Alexander Technique. The basic principles are explained clearly with the help of pictures, line drawings and observational exercises.</p>
    <p>Part Two of <span class="pitalic">The Art of Changing</span> Glen Park looks at how the Alexander principles can be applied to our psychological habits, our patterns of thoughts and feelings. It then goes on to look at the body as an energy system, working with the Hindu philosophy of the <a href="popups/aboutchakras.html?lightbox[iframe]=true&amp;lightbox[width]=600&amp;lightbox[height]=460" class="lightbox">Chakras</a> which explores the relationship between mind and body in some depth. Combining this wisdom with the Alexander principles can help us gain new insights into our psychological make-up with the potential to identify and transform unwanted patterns.</p>
    <br>
    <p><strong>Price: £12.50</strong></p>
    <!-- <p><em>If purchasing from outside the UK please email <a href="mailto:glenpark@glenpark.org.uk" target="_blank">glenpark@glenpark.org.uk</a> for details of oversees postage</em></p> -->
    <!--<a href="http://www.amazon.co.uk/Art-Changing-Exploring-Alexander-Relationship/dp/1853981303/ref=sr_1_12?s=books&ie=UTF8&qid=1302001289&sr=1-12" target="_blank" class="tooltip" title="Buy The Art of Changing<br />online from Amazon.co.uk"><div class="buybookbtn"></div></a>-->
    <div class="paypalbtn">
        <h4 style="float:left"><strong>Buy <em>The Art of Changing</em></strong></h4>
        <div style="float:left;padding:10px 0 0 20px;">
            <input class="submit-btn scroll-buy-now" id="buynowAOCPaperback" type="submit" value="Buy Now"></input>
        </div>
    </div>
</div>
<div class="clear"></div>
<br>
<p>If you are an Alexander Teacher and would like to buy 6+ copies for your pupils
    <br>please <a href="mailto:glenpark@glenpark.org.uk" target="_blank" alt="Contact Glen Park">contact Glen Park</a> for a discount.</p>
<!-- <p>Buy multiple items and save on postage - <a href="#multiple-items">see below</a></p> -->
<!-- .content-block 1 ends -->
<a name="theartofchangingcd" id="theartofchangingcd"></a>
<div class="clear"></div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<!-- .content-block 2 begins -->
<div class="content-block">
    <p><span class="boldsubtitle">The Art of Changing CD</span> &hellip; Four guided visualizations <span class="italicsubtitle"> by Glen Park</span>
        <br />
    </p>
    <h6>Ashgrove Publishing  &nbsp; &nbsp; ISBN 1-85398-130-3 &nbsp; &nbsp; CD Published 2005</h6>
    <img src="images/aoccdmodel.jpg" alt="The Art of Changing audio CD by Glen Park" style="padding-bottom:160px;" width="489" height="353" border="0" align="left" />
    <p>This CD complements Glen Park's book of the same name and contains audio tracks designed to be listened to while lying in semi-supine position. It has a four page insert illustrating the semi-supine position.</p>
    <p> The CD has a short introduction followed by four twenty minute guided visualisations.</p>
    <ul>
        <li><span class="bulletlime">&bull;</span> Introduction</li>
        <li><span class="bulletlime">&bull;</span> Refining Self Awareness &#40;a body scan&#41;</li>
        <li><span class="bulletlime">&bull;</span> Giving Alexander Directions</li>
        <li><span class="bulletlime">&bull;</span> Working with Energy &#40;visualising energy flows to bring about the Alexander directions&#41;.</li>
        <li><span class="bulletlime">&bull;</span> Energising the Chakras &#40;working with energy flows and the chakras&#41;.</li>
    </ul>
    <p>The CD is professionally recorded and narrated by Glen Park.</p>
    <!--
<a href="http://www.amazon.co.uk/Art-Changing-Exploring-Alexander-Relationship/dp/1853981486/ref=sr_1_3?s=books&ie=UTF8&qid=1302001204&sr=1-3" target="_blank" class="tooltip" title="Buy The Art of Changing audio CD<br />online from Amazon.co.uk"><div class="buycdbtn"></div></a>
-->
    <br />
    <p><strong>Price: £10.00</strong></p>
    <div class="paypalbtn">
        <h4 style="float:left"><strong>Buy <em>The Art of Changing CD</em></strong></h4>
        <div style="float:left;padding:10px 0 0 20px;">
            <input class="submit-btn scroll-buy-now" id="buynowAOCAudioCD" type="submit" value="Buy Now"></input>
        </div>
        <br />
        <br />
        <br />
        <!-- <p>Buy multiple items and save on postage - <a href="#multiple-items">see below</a></p> -->
        <p>If you are an Alexander Teacher and would like to buy 6+ copies for your pupils please <a href="mailto:glenpark@glenpark.org.uk" target="_blank" alt="Contact Glen Park">contact Glen Park</a> for a discount.</p>
    </div>
    <!-- .content-block 2 ends -->
    <a name="peggywilliams" id="peggywilliams"></a>
    <div class="clear"></div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <!-- .content-block 3 begins -->
    <div class="content-block">
        <p><span class="boldsubtitle">An Interview with Peggy Williams (1916 – 2003)</span> <span class="italicsubtitle">compiled by Glen Park</span></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <img src="images/peggy-williams-mockup.jpg" alt="An Interview with Peggy Williams" width="489" height="313" border="0" align="left" style="margin-bottom:20px;" />
        <p>Peggy Williams began her training with FM Alexander in September 1946. She taught the Alexander Technique for over fifty years and the excellence of her work was recognised throughout the world.</p>
        <p>This interview is compiled from discussions which took place during a series of lessons Glen Park had with Peggy during her training in November 1981, in which she tape-recorded their conversation. Peggy talks about her training and her early challenges as an Alexander teacher.</p>
        <p>There are only a few dozen left of these interviews which can now be bought through this website. The pamphlets are over thirty years old (almost antiques!) so there may be a little rust around the staples.</p>
        <div style="display:inline-block;overflow:auto;width:461px;">
            <div class="blockquotelime">'An Interview with Peggy Williams' by Glen Park, is very helpful reading for all teacher-trainees<span style="text-align:right;float:right;" class="quotecreditinline"> &#126; John S Hunter,<br />Chairman 1990<br />Society of Teachers of the Alexander Technique</span></div>
            <br />
            <p><strong>Price: £2.50</strong></p>
            <div class="paypalbtn">
                <h4 style="float:left"><strong>Buy <em>An Interview with Peggy Williams</em></strong></h4>
                <div style="float:left;padding:10px 0 0 20px;">
                    <input class="submit-btn scroll-buy-now" id="buynowPWPamphlet" type="submit" value="Buy Now"></input>
                </div>
                <div class="clear"></div>
                <br>
                <p>If you are an Alexander Teacher and would like to buy 6+ copies for your pupils
                    <br>please <a href="mailto:glenpark@glenpark.org.uk" target="_blank" alt="Contact Glen Park">contact Glen Park</a> for a discount.</p>
                <br />
                <br />
                <br />
            </div>
        </div>
        <!-- .content-block 3 ends -->
        <div class="clear"></div>
        <a id="multiple-items"></a>
        <br />
        <br />
        <hr>
        <p id="buyNow"><span class="boldsubtitle">Buy Now</span></p>
        <!-- <div style="float:left;">
  <p>Buy multiple items and save on postage.</p>
  </div> -->
        <div class="checkout">
            <span class="no-js no-js-error-message">*Sorry, javascript must be enabled to purchase a product.</span>
            <form action="#">
                <fieldset class="items">
                    <table>
                        <thead>
                            <tr>
                                <th class="first-table-header">Item</th>
                                <th class="price-column">Price</th>
                                <th class="quantity-column">Quantity</th>
                                <th class="totals-column last-table-header">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="item">
                                <td>The Art of Changing paperback</td>
                                <td class="price-column">£12.50</td>
                                <td class="quantity-column">
                                    <input type="number" min="0" value="0" placeholder="0" max="10" name="quantity-aoc-paperback" id="quantityAOCPaperback" required />
                                </td>
                                <td class="totals-column" id="totalAOCPaperback">£0.00</td>
                            </tr>
                            <tr class="item">
                                <td>The Art of Changing - Audio CD</td>
                                <td class="price-column">£10.00</td>
                                <td class="quantity-column">
                                    <input type="number" min="0" value="0" placeholder="0" max="10" name="quantity-aoc-paperback" id="quantityAOCAudioCD" required />
                                </td>
                                <td class="totals-column" id="totalAOCAudioCD">£0.00</td>
                            </tr>
                            <tr class="item">
                                <td>Peggy Williams Pamphlet</td>
                                <td class="price-column">£2.50</td>
                                <td class="quantity-column">
                                    <input type="number" min="0" value="0" placeholder="0" max="10" name="quantity-aoc-paperback" id="quantityPWPamphlet" required />
                                </td>
                                <td class="totals-column" id="totalPWPamphlet">£0.00</td>
                            </tr>
                            <tr class="sub-total">
                                <td colspan="2" class="price-column">Subtotal</td>
                                <td>
                                    <td colspan="1" class="totals-column" id="totalSubTotal">£0.00</td>
                            </tr>
                            </tr>
                            <td colspan="2">
                                <span id="cartItemsInvalid" class="cart-error-message">*please add at least one item to the cart</span>
                            </td>
                            <td colspan="2"></td>
                            <tr>
                                <tr>
                                    <td colspan="4" class="shipping">
                                        <p>Please select your region to calculate postage and packaging.</p>
                                        <ul id="shippingOptions">
                                            <li>
                                                <input type="radio" id="shippingUnitedKingdon" name="shipping-region" value="1"><span>United Kingdom</span></li>
                                            <li>
                                                <input type="radio" id="shippingEurope" name="shipping-region" value="2"><span>Europe</span></li>
                                            <li>
                                                <input type="radio" id="shippingAmericaCanadaAsia" name="shipping-region" value="3"><span>America, South America, Canada and Asia</span></li>
                                            <li>
                                                <input type="radio" id="shippingWorld" name="shipping-region" value="4"><span>Rest of World</span></li>
                                        </ul>
                                        <span id="shippingTotalInvalid" class="shipping-error-message">*one shipping option must be selected</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="price-column">Postage &amp; Packaging</td>
                                    <td></td>
                                    <td colspan="1" class="totals-column" id="totalShippingTotal">£0.00</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="price-column">Total</td>
                                    <td></td>
                                    <td colspan="1" class="totals-column" id="totalTotal">£0.00</td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td colspan="1" class="totals-column">
                                        <div id="paynowButton" class="disabled"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <em style="float: right; text-align: right;font-size: 12px; margin-top: 10px;">You do not need a Paypal account<br>to use this safe checkout</em>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <span id="cartTotalInvalid" class="cart-error-message">*Sorry there has been an error. Please refresh your page or update your browser.</span>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
            <p id="paymentSuccessful" class="disabled">Thank you for your purchase!</p>
            <!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="3MKLVBT7VJ3XQ">
<table>
<tr><td><input type="hidden" name="on0" value="Options:"><p>Options:</p></td></tr><tr><td><select name="os0">
  <option value="Book & CD -">Book & CD - £22.50 GBP</option>
  <option value="Book & PW Pamphlet -">Book & PW Pamphlet - £15.00 GBP</option>
  <option value="CD & PW Pamphlet -">CD & PW Pamphlet - £12.50 GBP</option>
  <option value="Book, CD & PW Pamphlet -">Book, CD & PW Pamphlet - £25.00 GBP</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="GBP">
<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>-->
        </div>
        <!-- <div style="float:left;padding:10px 0 0 40px;">

Select Country

</div> -->
        <div class="clear"></div>
        <p class="form-error-contact">Having trouble using this form? Please <a href="mailto: glenpark@glenpark.org.uk" title="Let us know">let us know</a>.</p>
        <hr>
        <div class="clear"></div>
        <a name="touchingthesoul" id="touchingthesoul"></a>
        <div class="clear"></div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <!-- .content-block 4 begins -->
        <div class="content-block">
            <p><span class="boldsubtitle">Touching the Soul</span><span class="italicsubtitle"> by Glen Park</span>
                <br />
            </p>
            <p>&#40;Coming soon&#41;</p>
            <img src="images/ttsspacer.png" width="400" height="400" border="0" align="right" />
            <p>Life has evolved through touch. Embryologically, it is the first sense to come into being. Our sensitivity to touch is profound. It can stimulate our earliest, largely unconscious memories and our primitive responses. Touch reaches deep into our psyches. When the touch is sufficiently sensitive and aware it can induce deep relaxation, healing, heightened awareness and a powerful connection to our experience of soul or spirit.</p>
            <p>In this book Glen explains how the chakras can be understood as a developmental map of the psyche, covering stages of development including infancy, childhood, adulthood and maturity. She looks in depth at these developmental stages and how they are paralleled in the findings of western developmental psychology and neuroscience. Using this understanding of the multi-layered psyche as expressed through the chakras, she offers practical exercises which can help to bring awareness to each of our individual ‘small minds’ so that they can be integrated and in harmony with each other.</p>
            <p>She then explains her system of Chakra Therapy which combines the practical exercises used in the book with the deep healing hands-on work offered by practitioners of the Alexander Technique who have also completed an additional training in Chakra Therapy. Bringing healing touch together with increased self-awareness of the rich multi-faceted nature of who we are creates a potent combination which can facilitate deep change. By creating a synthesis between Eastern traditions and Western research we gain a richer understanding of ourselves both mentally and physically and by working with conscious healing touch there is the potential for deep soul growth and transformation.</p>
            <p>Touching The Soul is not yet available. If you would like to be notified of its publication please click the button below to email Glen Park:</p>
            <a href="mailto:glenpark@glenpark.org.uk" target="_blank" class="tooltip" title="Click here to request email notification<br />of the publication of Touching The Soul">
                <div class="notificationbtn"></div>
            </a>
        </div>
        <!-- .content-block 4 ends -->
        <div class="clear"></div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>