---
layout: default
---

<!-- .content-block 1 begins -->
<div class="content-block">
    <p class="runinheading">get in touch&hellip;</p>
    <div class="clear"></div>
    <p>&nbsp;</p>
    <h6>Contact Glen Park &#126; Author, Teacher and Therapist</h6>
    <p class="boldp">If you would like to know more about my work, would like to arrange an exploratory session or attend a workshop, or if you have questions about my books and CD, please contact me by clicking on the email link below.</p>
    <p>&nbsp;</p>
    <div class="emaillinkbox">
        <p class="pflat">Contact Glen by email&#58;
            <span class="pemailitalic"><a href="mailto:glenpark@glenpark.org.uk" class="tooltip" title="Send a direct email to Glen">glenpark@glenpark.org.uk</a></span></p>
    </div>
</div>
<!-- .content-block 1 ends -->
<div class="clear"></div>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
<!-- content .wrapper ends -->
</div>
<!-- content ends -->