---
layout: default
---

<!-- sidebar begins -->               
<div class="one-third last right" id="sidebar">
                    

<!-- sidebar item 1 begins -->
<div class="sidebar-itempurple">
<img src="images/alexsidebartitle.png" alt="About Alexander Technique" width="199" height="57" class="sidebartitleimagespurple"/>
<p class="pwhite">FM Alexander discovered principles about the body, which we share with all vertebrate animals. Working consciously with these principles enabled him to regain a quality of balance and poise in his body and to make deep and lasting changes in the way he used his voice, which as an actor was vitally important to him.</p> 
<p><a href="popups/aboutalexander.html?lightbox[iframe]=true&amp;lightbox[width]=600&amp;lightbox[height]=580" class="lightbox">Read more&hellip;</a></p>

</div>
<!-- sidebar item 1 ends -->



<!-- sidebar item 2 begins -->
<div class="sidebar-itempurple">
<img src="images/chakrasidebartitle.png" alt="About Chakra Therapy" width="154" height="57" class="sidebartitleimagespurple" />
<p class="pwhite">Chakra is a Sanskrit word meaning &lsquo;a wheel, a disc, or any arrangement in circular form or organisation&rsquo;. In the ancient Hindu spiritual philosophy there are seven major chakras&hellip;</p>
<p><a href="popups/aboutchakras.html?lightbox[iframe]=true&amp;lightbox[width]=700&amp;lightbox[height]=460" class="lightbox">Read more&hellip;</a></p>
                        
</div>
<!-- sidebar item 2 ends -->



<!-- sidebar item 3 begins -->
<div class="sidebar-itempurple">
<img src="images/psychosidebartitle.png" alt="About Psychphysical Integration" width="254" height="57" class="sidebartitleimagespurple" />
<p class="pwhite">This combines the Alexander Technique and Chakra Therapy.</p>
<p><a href="popups/aboutpsycophysical.html?lightbox[iframe]=true&amp;lightbox[width]=400&amp;lightbox[height]=670" class="lightbox">Read more&hellip;</a></p>                        
</div>
<!-- sidebar item 3 ends -->
                    
                
</div>
<!-- sidebar ends -->
                
                
                
                
                
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
                
                
                
                
                
                
<!-- main-content begins -->                
<div class="two-thirds" id="main-content">
                


<!-- article-content begins -->
<div class="article-content">

<p class="boldpindent"><span class="runinheading">Welcome&hellip;</span> I&#39;m Glen Park.<br />Are there changes you would like to make in your life&#63;<br />Some people want to achieve excellence in their chosen field such as sports, music or acting. Others want to make changes in their personal lives or may wish for more inward change, to be happier, more peaceful or loving. If we look closely at ourselves and at our lives, there is usually something we would like to change.</p>

<p class="pindent">I discovered the Alexander Technique when I was working in the Theatre as an actress and writer, suffering from chronic back pain and looking for how I could change that. It helped me develop a strong back and much more&#33; I was so enthusiastic about the principles and practice that I decided to become a teacher.</p>

<p class="pindent">At the same time I studied the esoteric teachings of the Chakras in England and America, and from this I learnt a lot more about the relationship of mind and body.</p>

<p>Combining the principles of the Alexander Technique with an understanding of the Chakras inspired me to write my successful first book <a href="books.html#theartofchanging" target="_self">The Art of Changing</a> with accompanying <a href="books.html#theartofchangingcd" target="_self">CD</a>.</p>

<p>I have developed a way of working which enables us to address the changes that we want to make, whether they be physical, psychological or spiritual and I am developing these ideas further in my forthcoming book <a href="books.html#touchingthesoul" target="_self">Touching the Soul</a>.<br/>
<span class="padded"><a href="popups/aboutglen.html?lightbox[iframe]=true&amp;lightbox[width]=800&amp;lightbox[height]=520" class="lightbox">Read more about Glen&hellip;</a></span></p>

<blockquote class="blockquotepurple">Life is a continual process of change&hellip; Learning how to change and how to respond to change in a creative way is one of life’s most valuable skills</blockquote>

<p class="boldp">I offer <a href="work.html#sessions" target="_self">Individual sessions</a> and <a href="work.html#sessions" target="_self">Workshops</a> in both the Alexander Technique and Chakra Therapy and I also combine the two in Psychophysical Integration. I also offer training in Chakra Therapy for complementary health therapists and in Psychophysical Integration for Alexander Teachers.</p> 

<p>I have been teaching for over 25 years, including work in Australia, USA, Japan and Europe, and am a teaching member of <a href="http://www.ati-net.com" target="_blank">Alexander Technique International</a>, where I was delighted to give a keynote address at their conference in 2003.</p>

<p class="boldp">If there are changes that you would like to make, from dealing with a painful physical problem to looking at more psychological and spiritual issues, I warmly invite you to explore the site and &frasl; or <a href="contact.html" target="_self">contact me</a> to find out more.</p>

</div>
<!-- article-content ends -->

</div>
<!-- main-content begins -->