---
layout: default
---

<!-- .content-block 1 begins -->
<div class="content-block">
    <p class="runinheading">Testimonials&hellip;</p>
    <p>&nbsp;</p>
    <div class="clear"></div>
    <div class="one-third">
        <p class="pitalictestimonial">I came to Glen with a limp, a very painful hip and was despairing of finding relief. Her expertise and extensive knowledge of the Alexander Technique, combined with her unique hands-on healing, which works on the physical and on the emotional aspects of my condition has had a remarkable healing effect.
            <br /> I am now able to walk freely, go dancing, gardening, and enjoy all the activities I&#39;d feared I&#39;d never be able to do again. I have practical tools to keep me &ldquo;on track&rdquo; and a deeper knowledge and understanding of how to tune in to what my body needs. Glen has an incredible sensitivity and an immensely supportive and empowering approach to healing.
            <br />
            <br />
            <span class="quotecreditinline">&#126; Sally Willow. Trainee Human &lsquo;Being&rsquo;</span></p>
    </div>
    <div class="one-third">
        <p class="pitalictestimonial">I have worked with Glen for almost 6 years and her work has profoundly supported me both in my personal growth and professional development as an Alexander Technique teacher.
            <br /> She has great sensitivity, generosity of heart and her work is founded on a deep understanding of the relationship between the psychophysical and the spiritual. She practices the Art of Changing with enormous integrity and I thoroughly recommend her to anyone wishing to make conscious changes in their lives.
            <br />
            <br />
            <span class="quotecreditinline">&#126; Michael Brown. Alexander Technique teacher and coach</span></p>
    </div>
    <div class="one-third last">
        <p class="pitalictestimonial">Glen&#39;s touch is subtle, often hardly perceptible, but the effects are deep and profound. She has touched deep trauma in my body and integrated it in a way that talking therapy never managed to do. My body feels much more receptive and alive. I can feel what is going on at a much deeper level. Thanks to her work, I am becoming more conscious and more present.
            <br />
            <br />
            <span class="quotecreditinline">&#126; Kate Smiley, classics teacher</span> </p>
    </div>
</div>
<!-- .content-block 1 ends -->
<div class="clear"></div>
<!-- .content-block 2 begins -->
<div class="content-block">
    <div class="one-third">
        <p class="pitalictestimonial">Glen embodies and imparts an integration of body and soul, gently supporting my heart, so my mind can be again a healthy and helpful part of my whole system.
            <br />
            <br />
            <span class="quotecreditinline">&#126; Andrew Taylor, poet and gardener</span></p>
    </div>
    <div class="one-third">
        <p class="pitalictestimonial">I found Glen&#39;s approach wonderfully holistic: expert and gifted Alexander &lsquo;hands&rsquo;, exciting &#40;and new to me&#41; work with chakras and a down-to-earth and compassionate approach to addressing growth through suggestions in discussion and exercises.  I learnt a lot in a short time and felt a significant &lsquo;shift&rsquo;.  I&#39;m very glad I made it to Devon to see her.
            <br />
            <br />
            <span class="quotecreditinline">&#126; Oliver Segal, barrister</span></p>
    </div>
    <div class="one-third last">
        <p class="pitalictestimonial">
            <br />
            <br />
            <span class="quotecreditinline"></span></p>
    </div>
</div>
<!-- .content-block 2 ends -->
<div class="clear"></div>
<img src="/images/bottomquotes.png" width="150" height="105" border="0" align="right" />
</div>
<!-- content .testimonialswrapper ends -->
</div>
<!-- content ends -->
