---
layout: default
---

<!-- .content-block 1 begins -->
<div class="content-block">
    <div class="two-thirds">
        <h6>Individual Teaching and Therapy Sessions</h6>
        <p class="boldp"><span class="runinheading">Individual Sessions&hellip;</span> In these sessions I can give you personal attention and healing, focusing on your particular challenges and concerns. We begin by talking a little and then I will do practical hands-on work with you. Sessions last for about an hour and a quarter.</p>
    </div>
    <div class="one-third">
        <p class="subheadingblue">Alexander Technique</p>
        <p>In an Alexander lesson I will spend some of the time working with you lying &#40;fully clothed&#41; on a therapy table, and some of the time doing simple everyday movements such as walking, bending, sitting and standing. I place my hands on you to help your musculature to release. I explain how to think about your body in ways that will encourage optimal functioning. This might include anatomical explanations or imaginative suggestions that allow you to let go of the old unhelpful habits your mind and body have developed.</p>
    </div>
    <div class="one-third">
        <p class="subheadingblue">Chakra Therapy</p>
        <p>In a Chakra Therapy session I will place my hands on your body as you lie &#40;fully clothed&#41; on the therapy table. My hands send healing messages to your mind and body. I will be sensing the energy flows in the chakras and helping to bring them into balance, also explaining each of the chakras and what I am sensing in them. At times I will work in silence to allow deep inner change to occur. This work addresses the psychological patterns that block the free flow of our energy. Working with touch and awareness can bring about beneficial change at very deep levels of our being.</p>
    </div>
    <div class="one-third last">
        <p class="subheadingblue">Psychophysical Integration</p>
        <p>This combines the <a href="popups/aboutalexander.html?lightbox[iframe]=true&amp;lightbox[width]=600&amp;lightbox[height]=580" class="lightbox">Alexander Technique</a> and <a href="popups/aboutchakras.html?lightbox[iframe]=true&amp;lightbox[width]=600&amp;lightbox[height]=460" class="lightbox">Chakra Therapy</a>. The Alexander Technique works with unhelpful patterns of physical behaviour and with Chakra Therapy we can complement that process by working with unhelpful psychological patterns that we have developed. This work can bring about expansion and growth at physical, psychological and spiritual levels. In these sessions I work with whatever seems most appropriate for each specific situation.</p>
    </div>
</div>
<!-- .content-block 1 ends -->
<div class="clear"></div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<!-- .content-block 2 begins -->
<div class="content-block">
    <a name="workshops" id="workshops"></a>
    <div class="two-thirds">
        <h6>Workshops for both teachers and students</h6>
        <p class="boldp"><span class="runinheading">Workshops &amp; Courses&hellip;</span> Working in groups gives us a chance to learn from each other as well as working on ourselves. The theoretical principles are taught through experiential exercises and discussion.</p>
    </div>
    <div class="two-thirds">
        <p class="boldp"><span class="runinheading" style="font-size:28px;line-height:30px;">Breaking News:<br>South East Alexander School</span> </p>
        <p class="boldp">A professional Alexander Technique teacher-training course, beginning September 2017 in Forest Row, East Sussex.</p>
        <p class="boldsubtitle14blue">Director of Training: Delia Rosenboom</p>
        <p class="boldsubtitle14blue">Assistant teachers: Glen Park, Ruth Polden</p>
        <p>This unique, professional training course offers students the opportunity to study in-depth the work of F.M. Alexander- his principles of inhibition, direction and means to psycho-physical re-education, how to apply these to oneself and how to effectively teach these to others. This rich area of study will be approached creatively, holistically and in a variety of ways, enabling students to grow, develop and change on all levels. Whilst this training primarily focuses on learning to work on oneself,
            <br>it will simultaneously equip students with the tools and
            <br>skills to teach the Alexander Technique professionally.</p>
        <p>This training recognises that physical change comes
            <br>hand in hand with emotional, psychological and
            <br>energetic change, and both honours and welcomes
            <br>these inevitable changes as an integral part of
            <br>the training process.</p>
        <p>For more information <a href="http://www.deliarosenboom.co.uk/professional-alexander-teacher-training">click here</a> or go to
            <br><a href="http://www.deliarosenboom.co.uk/professional-alexander-teacher-training">www.deliarosenboom.co.uk/<br>professional-alexander-teacher-training</a></p>
    </div>
    <div class="one-third last">
        <p class="subheadingblue">Postgraduate Courses for Alexander Teachers in Psychophysical Integration</p>
        <p class="boldsubtitle14blue"><span class="bulletblue">&bull;</span> Introductory One Day Workshop</p>
        <p class="boldsubtitle14blue"><span class="bulletblue">&bull;</span> Postgraduate Training
            <br />&nbsp;&nbsp;&#40;8 weekend workshops over 9 months&#41;</p>
        <p>These courses offer a way of understanding psychological and spiritual development, which is based on both Western researches into psychology and Eastern Spiritual traditions. Participants will learn to work with a model of the chakras in which they represent the developmental unfolding of consciousness from the infant to the adult and beyond. This conceptual framework is supported by research from Western theorists. In addition we will learn a way of hands-on working which enables us to consider the whole self in all its aspects, physical, emotional, mental, and spiritual. This framework will be used for work on the self, as well as for hands-on work with others.</p>
    </div>
</div>
<!-- .content-block 2 ends -->
<div class="clear"></div>
<p>&nbsp;</p>
<p>&nbsp;</p>